# Copyright (c) 2023 Tim <tbckr>
#
# Permission is hereby granted, free of charge, to any person obtaining a copy of
# this software and associated documentation files (the "Software"), to deal in
# the Software without restriction, including without limitation the rights to
# use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of
# the Software, and to permit persons to whom the Software is furnished to do so,
# subject to the following conditions:
#
# The above copyright notice and this permission notice shall be included in all
# copies or substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS
# FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR
# COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER
# IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN
# CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
#
# SPDX-License-Identifier: MIT

site_name: SGPT Cli
site_url: https://github.com/tbckr/sgpt
repo_name: tbckr/sgpt
repo_url: https://github.com/tbckr/sgpt

theme:
  name: material
  custom_dir: docs/_theme
  icon:
    repo: fontawesome/brands/github
  features:
    - content.code.copy
    - navigation.footer
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/lightbulb-outline
        name: Switch to Dark Mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/lightbulb
        name: Switch to Light Mode
  plugins:
    - search:
        lang: en
  extra:
    social:
      - icon: fontawesome/brands/github
        link: https://github.com/tbckr/sgpt
  markdown_extensions:
    - admonition
    - attr_list
    - tables
    - pymdownx.emoji:
        emoji_index: !!python/name:materialx.emoji.twemoji
        emoji_generator: !!python/name:materialx.emoji.to_svg
    - pymdownx.superfences:
        custom_fences:
          - name: mermaid
            class: mermaid
            format: !!python/name:pymdownx.superfences.fence_code_format

nav:
  - Home: 'index.md'
  - Installation: 'installation.md'
  - Getting Started: 'getting-started.md'
  - Usage Guide:
      - Query Models: 'usage/query-models.md'
      - GPT-4o and GPT4 Vision API: 'usage/gpt-4o.md'
      - o1 API Support: 'usage/o1.md'
      - OpenRouter API Support: 'usage/openrouter.md'
      - Chat: 'usage/chat.md'
      - Docker: 'usage/docker.md'
      - Personas: 'usage/personas.md'
      - Proxy Support: 'usage/proxy.md'
  - Configuration: 'configuration.md'
  - Examples: 'examples.md'