name: CI Pipeline (golangci-lint)

on:
  push:
    tags:
      - 'v*'
    branches:
      - main
  pull_request:

concurrency:
  group: ${{ github.workflow }}-$${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  golangci:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: read
    name: lint
    steps:
      # Checkout repo
      - uses: actions/checkout@v3
      # Install necessary tools
      - uses: actions/setup-go@v3
        with:
          go-version: '>=1.20'
          cache: true
      # Run linter
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v3
        with:
          skip-go-installation: true
          args: --timeout=5m
