name: CI Pipeline (golangci-lint)

on:
  push:
    tags:
      - 'v*'
    branches:
      - main
  pull_request:

concurrency:
  group: ${{ github.workflow }}-$${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  golangci:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: read
    name: golangci-lint
    steps:
      # Checkout repo
      - uses: actions/checkout@v3
      # Install necessary tools
      - uses: actions/setup-go@v4
        with:
          go-version: '>=1.20'
          cache: true
      # Run linter
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v3
        with:
          args: --timeout=5m

  goreleaser:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: read
    name: goreleaser-check
    steps:
      # Checkout repo
      - uses: actions/checkout@v3
      # Install necessary tools
      - uses: actions/setup-go@v4
        with:
          go-version: '>=1.20'
          cache: true
      # Check goreleaser config
      - uses: goreleaser/goreleaser-action@v4
        with:
          distribution: goreleaser
          version: latest
          args: check
